<form action="/api/users" method="POST" id="add-user">
    <div class="new-user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id"value="">
            <input type="text"name ="name" value="" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text"name ="email" value="" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="Gender" class="text-light">gender</label>
            <div class="radio inline">
                <input type="radio" id="radio2" name ="gender" value="male" placeholder="male">
                <label for="Gender" id ="radio2" class="radio-label">MALE</label>
            </div>
            <div class="radio inline">
                <input type="radio"name ="gender" id="radio3" value="female" placeholder="female">
                <label for="Gender" id="radio3" class="radio-label">FEMALE</label>
            </div>
            
        </div>
        <div class="form-group">
            <label for="Gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio4"name ="status" value="Active" placeholder="Active">
                <label for="Gender" id="radio4"class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio5" name ="status" value="Inactive" placeholder="Inactive">
                <label for="Gender" id="radio5" class="radio-label">Inactive</label>
            </div>
            
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>

 </form>